@import url(https://fonts.googleapis.com/css?family=Amiko);
@import url(assets/fontawesome/css/solid.min.css);
@import url(assets/fontawesome/css/fontawesome.min.css);
@import url(assets/fontawesome/css/brands.min.css);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amiko";
  width: 100%;
  height: 100vh;

  h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

nav {
  background-color: #665d6680;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  ul {
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	li {
		height: 50px;
	}

	li:first-child {
		margin-right: auto;
	}

	a {
		height: 100%;
		padding: 0 30px;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: white;
	}

	a:hover {
		color: #f0f0f0;
	}
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

	a, li {
		width: 100%;
	}
}

.menubutton {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-tab {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

	a {
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
}

.dropdown:hover .dropdown-tab {
  display: block;
}

header {
  min-height: 100vh;
  margin-bottom: 10px;
  background-image: url(images/homeheader.jpg);
  background-color: #00808093;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: sticky;

  h1 {
    margin-top: 35vh;
  }

  p {
    text-align: center;
    padding: 30px;
  }
}

:root {
  --primary: rgba(0, 0, 0);
  --secondary: rgba(0, 128, 128, 0.5);
}

.container, .center, .team, .profiles, .head {
  width: 100%;
}

.center, .team, .profiles, .pro, .details, .icons {
  display: flex;
  align-items: center;
}

.container {
  height: fit-content;
  background-image: linear-gradient(to bottom, white, #00808080);
}

.center {
	height: 100%;
	justify-content: center;
}

.team {
	height: fit-content;
	justify-content: center;
	flex-direction: column;

  h1 {
    padding: 30px;
  }
}

.profiles {
	height: fit-content;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.pro {
	width: fit-content;
	height: fit-content;
  min-width: 350px;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 20px;
  margin: 20px;
  max-height: 100px;
  transition: 0.5s ease-in-out;
}

.pro img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.details {
  flex-direction: column;
  font-size: 16px;
}

.card {
  width: 320px;
  height: 300px;
  margin-bottom: 20px;
  background: var(--secondary);
  box-sizing: border-box;
  padding: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 6mm;
  position: relative;
}

.head {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 5px;
}

.head img {
  margin: 0;
  width: 80px;
  height: 80px;
  border-radius: 5mm;
  border: 5px solid white;
}

.name {
  font-size: 25px;
  font-weight: 200;
  width: fit-content;
  margin-left: 10px;
  padding: 0 8px;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 15px;
  position: relative;
}

.role {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.icons {
  padding: 0 20px;
  justify-content: space-evenly;

  a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
}

.content::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 70%;
  transform: translate(-50%, 0);
  background: var(--secondary);
  width: 60px;
  height: 30px;
  filter: blur(30px);
}

.pro:hover {
  max-height: 500px;
}

.pro:hover #picture {
  border: 5px solid var(--secondary);
}

.pro:hover .card {
  display: flex;
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }

  1%, 50% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
  padding-bottom: 20px;
	background-color: #00808080;
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;

  a {
    border: none;
    background-color: inherit;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
    color: white;
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menubutton {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }

  header {
    h1 {
      margin-top: 20vh;
    }
  }
}
