@import url(https://fonts.googleapis.com/css?family=Amiko);

body {
	font-family: "Amiko";
	background-color: #580158;
	margin: 0;
}

.header {
	background-color: #b266b2;
	padding-bottom: 30px;

	p {
		text-align: center;
	}

	h1 {
		padding-top: 30px;
	}
}

.topnav {
	padding-top: 20px;
	padding-bottom: 50px;

	a {
		float: right;
		text-align: center;
	}

	a.split {
		float: left;
	}
}

h1 {
	text-align: center;
	padding-top: 20px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #e5cce5;
	background-color: transparent;
	text-decoration: none;
}

a {
	padding-left: 10px;
	padding-right: 20px;
}

.blurb a {
	padding: 0;
	text-decoration: underline;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 50px;
	background-color: inherit;
	font-family: inherit;
	float: right;
	text-align: center;
}

.dropbtn:hover {
	color: #e5cce5;
	background-color: transparent;
	text-decoration: none;
}

.dropdown-tab {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-tab a {
	float: none;
	color: white;
	padding: 12px 16px;
	background-color: transparent;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-tab a:hover {
	background-color: rgb(49, 49, 49);
}

.dropdown:hover .dropdown-tab {
	display: block;
}

.report {
	color: white;
	margin-left: 20px;

	li {
		padding: 3px;
	}
}

.orgs {
	margin: 0 20px;
}

.container {
	margin: 0 40px;
}

.col {
	float: left;
	width: 30%;
	margin-bottom: 16px;
	padding: 10px;
}

@media screen and (max-width: 650px) {
	.col {
		width: 100%;
		display: block;
	}
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.departments {
	margin-left: 20px;
	margin-right: 20px;

	h2 {
		margin-top: 20px;
	}

	p {
		padding-bottom: 30px;
	}

	a {
		padding: 0;
		text-decoration: underline;
	}
}

table, th, td {
	padding: 10px;
	border-collapse: collapse;
}

th {
	text-align: left;
}

tr:nth-child(odd) {
	background-color: #b266b2;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;
}

.ftr {
	border: none;
	background-color: inherit;
	padding: 5px 5px;
	font-size: 10px;
	font-family: "Amiko";
	cursor: pointer;
	display: inline-block;
}