@import url(https://fonts.googleapis.com/css?family=Amiko); 
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
	font-family: "Amiko";
	background-color: white;
	margin: 0;
}

.header {
	background-image: url("images/homeheader.jpg");
	background-color: #00808093;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 100px;

	h1 {
		margin-top: 80px;
	}

	p {
		padding-bottom: 30px;
	}
}

.topnav {
	padding-top: 20px;
	padding-bottom: 50px;

	a {
		float: right;
		text-align: center;
	}

	a.split {
		float: left;
	}
}

h1 {
	text-align: center;
	padding-top: 20px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #b266b2;
	background-color: transparent;
	text-decoration: none;
}

a {
	padding-left: 10px;
	padding-right: 20px;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 50px;
	background-color: inherit;
	font-family: inherit;
	float: right;
	text-align: center;
}

.dropbtn:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: none;
}

.dropbtn:hover {
	color: #b266b2;
	background-color: transparent;
	text-decoration: none;
}

.dropdown-tab {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-tab a {
	float: none;
	color: white;
	padding: 12px 16px;
	background-color: transparent;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-tab a:hover {
	background-color: rgb(49, 49, 49);
}

.dropdown:hover .dropdown-tab {
	display: block;
}

.DermaSpect a {
	background-color: #008080;
	height: 30px;
	border: 2px solid white;
	border-radius: 30px;
	padding: 10px;
}

.core {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
	gap: 20px;

	.btn {
		display: inline-flex;
		align-items: center;
		padding: 10px 15px;
		background-color: #00808080;
		border-radius: 30px;
		border: none;
		gap: 10px;
		font-family: "Amiko";
		font-size: 20px;
		color: white;
	}

	.btnicon {
		width: 70px;
		height: 70px;
	}
}

.theteam {
	background-color: #00808080;
	height: 408px;
	padding-bottom: 20px;

	h1 {
		text-align: right;
		padding-top: 155px;
		margin-right: 50px;
	}

	a {
		text-align: right;
		margin-left: 55px;
		color: black;
	}

	img {
		clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
	}
}

.news {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-self: center;
	padding: 10px;
	gap: 20px;
	max-width: 1200px;
}

.articlecard {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	h1 {
		font-size: 20px;
	}

	img {
		width: 100%;
		height: 250px;
		object-fit: fill;
	}

	a {
		display: inline-block;
		margin: 20px 0;
		color: #007bff;
		text-decoration: none;
		font-weight: bold;
	}

	a:hover {
		text-decoration: underline;
	}

	.desc {
		padding: 15px;
		flex-grow: 1;
	} 
}

@media (max-width: 768px) {
	.news-container {
		grid-template-columns: 1fr; /* Single column on smaller screens */
	}
}

ul {
	margin-right: 20px;
}

li {
	list-style: none;
	margin-bottom: 10px;
}

.footerlinks {
	column-count: 2;
}

.fa {
	padding: 10px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	background-color: #00808080;

	.fa-twitter {
		background: #55acee;
		color: white;
	}

	.fa-linkedin {
		background-color: #0077b5;
		color: white;
	}
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;
}

.ftr {
	border: none;
	background-color: inherit;
	padding: 5px 5px;
	font-size: 10px;
	font-family: "Amiko";
	cursor: pointer;
	display: inline-block;
	color: white;
}
      