@import url(https://fonts.googleapis.com/css?family=Amiko);
@import url(assets/fontawesome/css/solid.min.css);
@import url(assets/fontawesome/css/fontawesome.min.css);
@import url(assets/fontawesome/css/brands.min.css);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amiko";

  h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    text-align: center;
    font-size: 3.5vw;
  }

  h2, h3 {
    font-size: 2vw;
  }

  p {
    font-size: 1.5vw;
  }

  a {
    font-size: 1.25vw;
  }
}

nav {
  background: inherit;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    height: 50px;
  }

  li:first-child {
    margin-right: auto;
  }

  a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }

  a:hover {
    color: #f0f0f0;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  a, li {
    width: 100%;
  }
}

.menubutton {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-tab {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

  a {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.dropdown:hover .dropdown-tab {
  display: block;
}

header {
  min-height: 100vh;
  margin-bottom: 10px;
  background-image: url(images/homeheader.jpg);
  background-color: #00808093;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  h1 {
    margin-top: 35vh;
  }

  p {
    text-align: center;
    padding: 30px;
  }
}

.DermaSpect a {
	background-color: #008080;
  color: white;
	border: 3px solid white;
	border-radius: 30px;
	padding: 10px 30px;
  text-decoration: none;
  font-weight: 600;
}

.core {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px;
	gap: 20px;
  margin-bottom: 20px;

	.btn {
		display: inline-flex;
		align-items: center;
		padding: 10px 15px;
		background-color: #00808080;
		border-radius: 30px;
		border: none;
		gap: 10px;
		font-family: "Amiko";
		color: white;
	}

	.btnicon {
		width: 70px;
		height: 70px;
	}
}

.theteam {
	background-color: #00808080;
  height: 75vh;
  position: relative;
  margin-bottom: 20px;

  .shape {
    width: 50vw;
    height: 75vh;
    background-image: url(images/team25.jpg);
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2 {
    text-align: right;
    padding-top: 10%;
    margin-right: 10%;
    font-size: 3vw;
  }

  p {
    text-align: right;
    padding-top: 20px;
    margin-right: 10%;
  }

  a {
    background-color: #008080;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px 50px;
    text-decoration: none;
    font-weight: 600;
    position: absolute;
    bottom: 20vh;
    right: 20vw;
  }
}

.news {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-self: center;
	padding: 10px;
	gap: 20px;
  margin: 20px;
}

.articlecard {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	img {
		height: 350px;
		object-fit: fill;
	}

  h3 {
    padding-bottom: 20px;
  }

	a {
		display: inline-block;
		margin: 20px 0;
		color: #007bff;
		text-decoration: none;
		font-weight: bold;
	}

	a:hover {
		text-decoration: underline;
	}

	.desc {
		padding: 15px;
	} 
}

.footerlinks {
	column-count: 2;
  margin-bottom: 20px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
  padding-bottom: 20px;
	background-color: #00808080;

  ul {
    list-style: none;
    margin-right: 20px;
  }

  li {
    margin-bottom: 10px;
    margin-left: 20px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h6 {
    font-size: 1rem;
  }

  .fa-brands {
    font-size: 30px;
  }

	.fa-square-linkedin {
		color: #0077b5;
	}
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;

  a {
    border: none;
    background-color: inherit;
    padding: 5px 5px;
    cursor: pointer;
    display: inline-block;
    color: white;
  }
}

@media (max-width: 1450px) {
  .hideOnMobile {
    display: none;
  }

  .menubutton {
    display: block;
  }

  .core {
    grid-template-columns: repeat(2, 1fr);
  }

  .theteam {
    .shape {
      width: 60vw;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    h2 {
      margin-right: 5%;
    }

    p {
      margin-right: 5%;
    }

    a {
      bottom: 10vh;
      right: 5vw;
    }
  }

  .news {
		grid-template-columns: 1fr;
	}

  .articlecard {
    img {
      height: 450px;
    }
  }
}

@media (max-width: 850px) {
  .sidebar {
    width: 100%;
  }

  body {
    h1 {
      font-size: 4.5vw;
    }

    h2, h3 {
      font-size: 3vw;
    }

    p {
      font-size: 2.5vw;
    }

    a {
      font-size: 2.25vw;
    }
  }

  header {
    min-height: 50vh;
	background-size: 200%;
	background-position: top;
	
    
    h1 {
      margin-top: 20vh;
    }
  }

  .core {
    grid-template-columns: 1fr;
  }

  .theteam {
    h2 {
      padding-top: 35%;
      margin-right: 5%;
      font-size: 4vw;
    }

    p {
      margin-right: 5%;
    }

    a {
      padding: 10px 30px;
      bottom: 20vh;
      right: 5vw;
    }
  }
}

@media (max-width: 500px) {
  body {
    h1 {
      font-size: 5.5vw;
    }

    h2, h3 {
      font-size: 4vw;
    }

    p {
      font-size: 3.5vw;
    }

    a {
      font-size: 2.75vw;
    }
  }

  header {
	background-size: 250%;
	  
    h1 {
      margin: 15vh 1vh 0 1vh;
    }
  }

  .theteam {   
    a {
      padding: 10px 20px;
    }
  }

  .articlecard {
    img {
      height: 250px;
    }
  }
  
  .footer {
    h6 {
      font-size: 0.75rem;
    }
  }
}
