@import url(https://fonts.googleapis.com/css?family=Amiko);

body {
	font-family: "Amiko";
	margin: 0;
}

.header {
	background-image: url("images/dermavision_ssoe_winter_award.jpg");
	background-color: #665d66;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 20px;
}

.topnav {
	padding-top: 20px;
	padding-bottom: 50px;

	a {
		float: right;
		text-align: center;
	}

	a.split {
		float: left;
	}
}

h1 {
	text-align: center;
	padding-top: 20px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #b266b2;
	background-color: transparent;
	text-decoration: none;
}

a {
	padding-left: 10px;
	padding-right: 20px;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 50px;
	background-color: inherit;
	font-family: inherit;
	float: right;
	text-align: center;
}

.dropbtn:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: none;
}

.dropbtn:hover {
	color: #b266b2;
	background-color: transparent;
	text-decoration: none;
}

.dropdown-tab {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-tab a {
	float: none;
	color: white;
	padding: 12px 16px;
	background-color: transparent;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-tab a:hover {
	background-color: rgb(49, 49, 49);
}

.dropdown:hover .dropdown-tab {
	display: block;
}

.qualifications {
	background-image: linear-gradient(to bottom, #FFFCF7, #BC9EC18C);
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		margin-top: 100px;
	}
}

.timelineblock {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #ACBDDC;
	border-radius: 30px;
	width: 1031px;
	height: 371px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	h1 {
		margin-top: 0;
	}
}

.circle {
	height: 240px;
	width: 260px;
	background-color: #1F2232;
	border-radius: 50%;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;

	h3 {
		text-align: center;
		font-size: 40px;
		margin-bottom: 0;
	}

	h4 {
		text-align: center;
		font-size: 17px;
	}
}

.col {
	float: left;
	width: 33.3%;
}

@media screen and (max-width: 650px) {
	.col {
		width: 100%;
		display: block;
	}
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.ordivider {
	display: flex;
	align-items: center;
	font-size: 20px;
}

.ordivider::before, .ordivider::after {
	flex: 1;
	content: '';
	padding: 1px 40px;
	background-color: black;
	margin: 5px;
}

.block1 {
	background-color: #FFFCF7;
	border-radius: 30px;
	width: 1030px;
	height: 250px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	p {
		font-size: 25px;
	}
}

.block2 {
	background-color: #FFFCF7;
	border-radius: 30px;
	width: 1030px;
	height: 110px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	p {
		font-size: 25px;
	}
}

.block3 {
	background-color: #FFFCF7;
	border-radius: 30px;
	width: 750px;
	height: 250px;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	p {
		font-size: 20px;
	}
}

.team {
	display: block;
	margin: 0 auto;
	align-items: center;
	font-family: "Amiko";
	background-color: #a1b5d8;
	color: white;
	padding: 12px 20px;
	border: 2px solid white;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 15px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	background-color: #BC9EC18C;
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;
}

.ftr {
	border: none;
	background-color: inherit;
	padding: 5px 5px;
	font-size: 10px;
	font-family: "Amiko";
	cursor: pointer;
	display: inline-block;
}