@import url(https://fonts.googleapis.com/css?family=Amiko);
@import url(assets/fontawesome/css/solid.min.css);
@import url(assets/fontawesome/css/fontawesome.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amiko";
  width: 100%;
  height: 100vh;

  h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

nav {
  background-color: #665d6680;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  ul {
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	li {
		height: 50px;
	}

	li:first-child {
		margin-right: auto;
	}

	a {
		height: 100%;
		padding: 0 30px;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: white;
	}

	a:hover {
		color: #f0f0f0;
	}
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

	a, li {
		width: 100%;
	}
}

.menubutton {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-tab {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

	a {
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
}

.dropdown:hover .dropdown-tab {
  display: block;
}

header {
  height: fit-content;
  background-image: url(images/dermavision_ssoe_winter_award.jpg);
  background-color: #665d66;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;

	h1 {
		margin-top: 5vh;
		padding: 40px;
	}

	p {
		padding-bottom: 40px;
	}
}

.qualifications {
	background-image: linear-gradient(to bottom, #FFFCF7, #BC9EC18C);
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

  h1, h2 {
    padding: 20px;
  }

  h2 {
    margin-top: 50px;
  }
}

.timeline {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.timelineblock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ACBDDC;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  margin: 2rem 0;
  gap: 2rem;
}

.circle {
	height: 240px;
	width: 260px;
	background-color: #1F2232;
	border-radius: 50%;
  
  h3, h4 {
    margin: 30px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-weight: 100;
  }
}

.ordivider {
	display: flex;
	align-items: center;
	font-size: 1.5rem;
}

.ordivider::before, .ordivider::after {
	flex: 1;
	content: '';
	padding: 1px 40px;
	background-color: black;
	margin: 5px;
}

.block1 {
	background-color: #FFFCF7;
	border-radius: 30px;
	width: 75%;
	height: 40%;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	p {
		font-size: 1.5rem;
    padding: 40px;
	}
}

.block2 {
	background-color: #FFFCF7;
	border-radius: 30px;
	width: 75%;
	height: 15%;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	p {
		font-size: 1.5rem;
    padding: 40px;
	}
}

.block3 {
	background-color: #FFFCF7;
	border-radius: 30px;
	width: fit-content;
	height: fit-content;
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	p {
    padding: 20px;
	}
}

.team {
	display: block;
	align-items: center;
	font-family: "Amiko";
	background-color: #a1b5d8;
	color: white;
	padding: 12px 20px;
	border: 2px solid white;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 30px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #BC9EC18C;
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;

  a {
    color: black;
		border: none;
    background-color: inherit;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 10px;
    cursor: pointer;
    display: inline-block;
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menubutton {
    display: block;
  }

  .timelineblock {
    grid-template-columns: repeat(1, 1fr);
  }

  .circle {
    height: 300px;
    width: 320px;

    h3, h4 {
      font-size: 1.5rem;
      margin: 40px;
    }
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
