@import url(https://fonts.googleapis.com/css?family=Amiko);

body {
	font-family: "Amiko";
	margin: 0;
}

.header {
	background-image: url("images/dermavision_ssoe_winter_award.jpg");
	background-color: #665d66;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 20px;
}

.topnav {
	padding-top: 20px;
	padding-bottom: 50px;

	a {
		float: right;
		text-align: center;
	}

	a.split {
		float: left;
	}
}

h1 {
	text-align: center;
	padding-top: 20px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	text-align: center;
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #b266b2;
	background-color: transparent;
	text-decoration: none;
}

a {
	padding-left: 10px;
	padding-right: 20px;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 50px;
	background-color: inherit;
	font-family: inherit;
	float: right;
	text-align: center;
}

.dropbtn:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: none;
}

.dropbtn:hover {
	color: #b266b2;
	background-color: transparent;
	text-decoration: none;
}

.dropdown-tab {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-tab a {
	float: none;
	color: white;
	padding: 12px 16px;
	background-color: transparent;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-tab a:hover {
	background-color: rgb(49, 49, 49);
}

.dropdown:hover .dropdown-tab {
	display: block;
}

.team {
	display: block;
	margin: 0 auto;
	align-items: center;
	font-family: "Amiko";
	background-color: #a1b5d8;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 15px;
}

.awards {
	background-color: #fffcf7;
	padding: 20px 0;
}

* {
	box-sizing: border-box;
}

.slideshow-container {
	max-width: 700px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.text {
	color: #a1b5d8;
	font-size: 20px;
	padding: 0 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #323131;

	img {
		display: block;
		margin: 0 auto;
		padding-top: 50px;
	}
}

.slideshow-container:hover .overlay {
	opacity: 1;
}

.heading {
	margin-top: 30px;
	font-size: 40px;
	text-align: center;
	color: #a1b5d8;
}

.subheading {
	font-size: 20px;
	text-align: center;
	color: #a1b5d8;
}

.description {
	text-align: center;
	color: #a1b5d8;
}

.learn {
	display: block;
	margin: 0 auto;
	align-items: center;
	font-family: "Amiko";
	background-color: #a1b5d8;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 15px;
}

.members {
	background-color: #32364c;
	padding-top: 20px;
}

.title {
	font-size: 20px;
	font-style: italic;
}

.col {
	float: left;
	width: 25%;
	margin-bottom: 16px;
	padding: 0 8px;
}

@media screen and (max-width: 650px) {
	.col {
		width: 100%;
		display: block;
	}
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #a1b5d8;
}

.container {
	padding: 0 16px;
}

.container::after,
.row::after {
	content: "";
	clear: both;
	display: table;
}

.acknowledgementsback {
	height: 500px;
	position: relative;
	background-color: #E5E7EB;
	padding-top: 20px;
	
	p {
		margin-top: 210px;
	}
}

.acknowledgements {
	background-color: #A1B5D8;
	border-radius: 30px;
	margin: 0;
	position: absolute;
	top: 28%;
	left: 15%;
	width: 850px;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	background-color: #E5E7EB;
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;
}

.ftr {
	border: none;
	background-color: inherit;
	padding: 5px 5px;
	font-size: 10px;
	font-family: "Amiko";
	cursor: pointer;
	display: inline-block;
}