@import url(https://fonts.googleapis.com/css?family=Amiko);
@import url(assets/fontawesome/css/solid.min.css);
@import url(assets/fontawesome/css/fontawesome.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amiko";

  h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    text-align: center;
    font-size: 3.5vw;
  }

  h2, h3 {
    font-size: 2vw;
  }

  p {
    font-size: 1.5vw;
  }

  a {
    font-size: 1.25vw;
  }
}

nav {
  background-color: #665d6680;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  ul {
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	li {
		height: 50px;
	}

	li:first-child {
		margin-right: auto;
	}

	a {
		height: 100%;
		padding: 0 30px;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: white;
	}

	a:hover {
		color: #f0f0f0;
	}
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

	a, li {
		width: 100%;
	}
}

.menubutton {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-tab {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

	a {
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
}

.dropdown:hover .dropdown-tab {
  display: block;
}

header {
  min-height: 100vh;
  background-image: url(images/dermavision_ssoe_winter_award.jpg);
  background-color: #665d66;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;

	h1 {
		padding: 5% 5% 3% 5%;
	}

  p {
    padding: 30px;
  }
}

.join {
	font-family: "Amiko";
	font-size: 1.5vw;
	background-color: #a1b5d8;
	color: white;
  text-decoration: none;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
}

.awards {
	background-color: #32364c;
	padding: 20px 0;

  h1 {
    padding: 20px;
  }
}

.slideshow-container {
	max-width: 700px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.text {
	color: white;
	font-size: 20px;
  font-weight: 600;
	padding: 0 12px;
	position: absolute;
	top: 8px;
	width: 100%;
	text-align: center;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #323131;

	img {
		display: block;
		margin: 0 auto;
		padding-top: 50px;
	}
}

.slideshow-container:hover .overlay {
	opacity: 1;
}

.heading {
	margin-top: 30px;
	font-size: 2vw;
	text-align: center;
	color: #a1b5d8;
}

.subheading {
	font-size: 1vw;
	text-align: center;
	color: #a1b5d8;
}

.description {
	text-align: center;
	color: #a1b5d8;
	padding: 0 20px;
}

.learn {
	display: block;
	text-align: center;
	font-family: "Amiko";
	background-color: #a1b5d8;
	color: white;
	text-decoration: none;
	margin: 5% 35%;
	padding: 12px 20px;
	width: 30%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.members {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
	margin: 0 auto;

	h1 {
		padding-top: 5%;
	}
}

.container {
  width: 90vw;
	box-sizing: border-box;

	img {
		display: block;
		width: 100%;
	}
}

.card {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	padding: 2rem 0;
	margin: 2rem 0;
	gap: 2rem;
}

.data {
	display: flex;
	background: #32364c;
	padding: 1rem 4rem 1rem 1rem;
	border-radius: 5px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);

	img {
		border-radius: 5%;
		width: 60%;
		height: 100%;
	}
}

.pro_content {
	padding-left: 1rem;
	color: white;

	h3 {
		font-size: 1.5vw;
		padding-bottom: 10px;
	}

	p {
		font-size: 1vw;
	}
}

.acknowledgementsback {
	background-color: #E5E7EB;
	text-align: center;
	padding: 40px 0;

	p {
		padding: 20px;
	}
}

.acknowledgements {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #A1B5D8;
	border-radius: 30px;
	width: fit-content;
	height: fit-content;
	padding: 20px;
	margin: 20px 40px;
}

.logos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 2rem;
	gap: 2rem;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
	background-color: #E5E7EB;

	h6 {
    font-size: 1rem;
  }
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;

  a {
		color: black;
    border: none;
    background-color: inherit;
    text-decoration: none;
    padding: 5px 5px;
    cursor: pointer;
    display: inline-block;
  }
}


@media (max-width: 1450px) {
  .hideOnMobile {
    display: none;
  }

  .menubutton {
    display: block;
  }

	.join {
		padding: 12px 20px;
	}

	.heading {
		font-size: 3vw;
	}

	.subheading {
		font-size: 2vw;
	}

  .container {
		margin: 0 auto;

		.card {
			grid-template-columns: repeat(2, 1fr);
		}
  }

	.pro_content {
		h3 {
			font-size: 2.5vw;
		}

		p {
			font-size: 2vw;
		}
	}

	.logos {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 850px) {
  .sidebar {
    width: 100%;

		a {
			font-size: 3.5vw;
		}
  }

	body {
    h1 {
      font-size: 4.5vw;
    }

    h2, h3 {
      font-size: 3vw;
    }

    p {
      font-size: 2.5vw;
    }

    a {
      font-size: 2.25vw;
    }
  }

	header {		
		min-height: 60vh;
    background-size: 200%;
    background-position: top;
	}

	.join {
		font-size: 2.5vw;
	}

	.heading {
		font-size: 4vw;
	}

	.subheading {
		font-size: 3vw;
	}

	.container {
		margin: 0 auto;

		.card {
			grid-template-columns: repeat(1, 1fr);
		}
  }

	.pro_content {
		h3 {
			font-size: 4vw;
		}

		p {
			font-size: 3.5vw;
		}
	}
}

@media (max-width: 500px) {
	.sidebar {
    a {
			font-size: 5vw;
		}
  }

  body {
    h1 {
      font-size: 5.5vw;
    }

    h2, h3 {
      font-size: 4vw;
    }

    p {
      font-size: 3.5vw;
    }

    a {
      font-size: 2.75vw;
    }
  }

	header {
		background-size: 250%;

		h1 {
			padding-top: 10%;
		}

		p {
			padding: 20px;
		}
	}

	.join {
		font-size: 3.5vw;
	}

	.awards {
		h1 {
			padding-top: 10px;
		}
	}

	.overlay {
		img {
			padding-top: 10px;
		}

		.heading {
			margin-top: 10px;
			font-size: 20px;
		}

		.subheading {
			font-size: 15px;
		}

		.description {
			font-size: 0.75rem;
		}
	}

	.heading {
		font-size: 5vw;
	}

	.subheading {
		font-size: 4vw;
	}

	.learn {
		margin: 8% 25%;
		width: 50%;
	}

	.pro_content {
		h3 {
			font-size: 5vw;
		}

		p {
			font-size: 4vw;
		}
	}

	.footer {
		h6 {
			font-size: 0.75rem;
		}
	}
}
