@import url(https://fonts.googleapis.com/css?family=Amiko);
@import url(assets/fontawesome/css/solid.min.css);
@import url(assets/fontawesome/css/fontawesome.min.css);
@import url(assets/fontawesome/css/brands.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amiko";
  width: 100%;
  height: 100vh;

  h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    font-size: 8vh;
  }

  h2 {
    font-size: 6vh;
  }

  p {
    font-size: 4vh;
  }

  a {
    font-size: 3vh;
  }
}

nav {
  background-color: #665d6680;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  ul {
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	li {
		height: 50px;
	}

	li:first-child {
		margin-right: auto;
	}

	a {
		height: 100%;
		padding: 0 30px;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: white;
	}

	a:hover {
		color: #f0f0f0;
	}
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

	a, li {
		width: 100%;
	}
}

.menubutton {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-tab {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

	a {
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
}

.dropdown:hover .dropdown-tab {
  display: block;
}

header {
  height: fit-content;
  background-image: url(images/dermavision_ssoe_winter_award.jpg);
  background-color: #665d66;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;

	h1 {
    text-align: center;
		margin-top: 5vh;
		padding: 40px;
	}

	p {
		padding-bottom: 40px;
	}
}

.linkedin {
  background-image: url(images/webback.png);
  background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
	align-items: center;
}

.linkedinbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 75%;
    height: 85%;
    border-radius: 5px;
    margin-left: 28vh;
    margin-top: 5vh;
  }

  .backbox {
    width: 75%;
    height: 85%;
    background-color: #A1B5D8;
    border-radius: 0 20px 20px 0;
    margin-right: 28vh;
    margin-top: 5vh;
    position: relative;

    h1, p {
      margin: 0 20px;
    }

    h1 {
      font-size: 6vh;
      padding: 20px 0;
    }

    p {
      font-size: 3.5vh;
      padding: 10px 0;
    }

    a {
      position: absolute;
      font-size: 40px;
      color: #5584C5;
      right: 20px;
      bottom: 10px;
    }
  }
}

.donation {
	padding: 20px 0;
	height: fit-content;
	background-image: url(images/team2425.png);
	background-color: #665d66;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;

  h1 {
    padding: 20px;
  }

  h2, p {
    padding-bottom: 20px;
  }
}

.btn {
	border: 3px solid #fffcf7;
	border-radius: 8px;
	background-color: #665d66;
  margin: 20px 0;
	padding: 8px 23px;
	font-size: 4vh;
	font-family: "Amiko";
	cursor: pointer;
	display: inline-block;
	color: white;
}

.merch {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  text-align: center;

  h1 {
    padding-top: 10%;
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 40px;
  }

  a {
    background-color: #b266b2;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  h6 {
    font-size: 1rem;
  }
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;

  a {
    color: black;
		border: none;
    background-color: inherit;
    text-decoration: none;
    padding: 5px 5px;
    font-size: 2vh;
    cursor: pointer;
    display: inline-block;
  }
}

@media (max-width: 1450px) {
  .hideOnMobile {
    display: none;
  }

  .menubutton {
    display: block;
  }

  .linkedin {
    height: fit-content;
  }

  .linkedinbox {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 3rem;
    align-items: center;

    img {
      width: 55%;
      height: 85%;
      border-radius: 20px;
      margin: 0 23%;
    }

    .backbox {
      width: 55%;
      height: 110%;
      border-radius: 20px;
      margin: 0 23%;

      h1 {
        padding: 20px 0 20px 10px;
      }

      p {
        padding: 10px;
      }
    }
  }

  .merch {
    padding: 1rem;
  }
}

@media (max-width: 850px) {
  .sidebar {
    width: 100%;
  }

  header {
    background-position: center;
  }

  .linkedinbox {
    img {
      width: 65%;
      height: 95%;
      margin: 0 20%;
    }

    .backbox {
      width: 65%;
      height: 100%;
      margin: 0 20%;
    }
  }

  .donation {
    background-position: center;
  }

  .merch {
    grid-template-columns: repeat(1, 2fr);

    img {
      padding-top: 10%;
    }
  }

  .footer {
    h6 {
      font-size: 0.75rem;
    }
  }
}

@media (max-width: 500px) {
  .linkedinbox {
    img {
      width: 75%;
      margin: 5% 14% 0 14%;
      border-radius: 20px 20px 0 0;
    }

    .backbox {
      width: 75%;
      height: 105%;
      margin: 0 14%;
      border-radius: 0 0 20px 20px;
    }
  }
}
