@import url(https://fonts.googleapis.com/css?family=Amiko);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
	font-family: "Amiko";
	background-color: #fffcf7;
	margin: 0;
}

.header {
	background-image: url("images/dermavision_ssoe_winter_award.jpg");
	background-color: #665d66;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 20px;
}

.topnav {
	padding-top: 20px;
	padding-bottom: 50px;

	a {
		float: right;
		text-align: center;
	}

	a.split {
		float: left;
	}
}

h1 {
	text-align: center;
	padding-top: 20px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
}

p {
	text-align: center;
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #b266b2;
	background-color: transparent;
	text-decoration: none;
}

a {
	padding-left: 10px;
	padding-right: 20px;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 50px;
	background-color: inherit;
	font-family: inherit;
	float: right;
	text-align: center;
}

.dropbtn:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: none;
}

.dropbtn:hover {
	color: #b266b2;
	background-color: transparent;
	text-decoration: none;
}

.dropdown-tab {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-tab a {
	float: none;
	color: white;
	padding: 12px 16px;
	background-color: transparent;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-tab a:hover {
	background-color: rgb(49, 49, 49);
}

.dropdown:hover .dropdown-tab {
	display: block;
}

.linkedin {
	height: 670px;
	background-image: url(images/webback.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	display: flex;
	position: relative;
}

.linkedinbox {
	height: 400px;
	width: 400px;
	background-image: url(images/linkedin.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px 0 0 20px;
	position: absolute;
	top: 150px;
	left: 100px;
}

.backbox {
	height: 400px;
	width: 650px;
	background-color: #A1B5D8;
	border-radius: 0 20px 20px 0;
	position: absolute;
	top: 150px;
	left: 500px;

	h1 {
		text-align: left;
		padding-left: 20px;
		padding-right: 40px;
	}

	p {
		text-align: left;
		padding-left: 20px;
		padding-right: 40px;
		font-size: 18px;
	}

	a {
	background: #5584C5;
	color: white;
	margin-top: 20px;
	margin-left: 580px;
	}
}

.fa {
	padding: 5px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.fa-linkedin {
	background: #5584C5;
	color: white;
}

.donation {
	padding-top: 20px;
	height: 600px;
	background-image: url(images/team2425.png);
	background-color: #665d66;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.btn {
	border: 3px solid #fffcf7;
	border-radius: 8px;
	background-color: #665d66;
	padding: 8px 23px;
	font-size: 15px;
	font-family: "Amiko";
	cursor: pointer;
	display: inline-block;
	color: white;
}

.btncontainer {
	display: flex;
	justify-content: center;
	gap: 15px;
	padding-top: 20px;
}

.donationbtn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

input[type="text"],
select,
textarea {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Amiko";
	width: 20%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

input[type="submit"] {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Amiko";
	background-color: #b266b2;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 6px;
	margin-bottom: 16px;
}

.merch {
	height: 400px;
	padding-top: 40px;
	h1 {
		text-align: left;
		padding-left: 40px;
	}

	p {
		text-align: left;
		padding-left: 40px;
	}
}

.col {
	float: left;
	width: 50%;
	text-align: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.merchbtn {
	font-family: "Amiko";
	background-color: #b266b2;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
}

.footer-left {
	text-align: left;
	padding: 0 20px;
}

.footer-right {
	text-align: right;
	padding: 0 20px;
}

.ftr {
	border: none;
	background-color: inherit;
	padding: 5px 5px;
	font-size: 10px;
	font-family: "Amiko";
	cursor: pointer;
	display: inline-block;
}