@import url(https://fonts.googleapis.com/css?family=Amiko);
@import url(assets/fontawesome/css/solid.min.css);
@import url(assets/fontawesome/css/fontawesome.min.css);
@import url(assets/fontawesome/css/brands.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amiko";
  width: 100%;
  height: 100vh;

  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

nav {
  background-color: #665d6680;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  ul {
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	li {
		height: 50px;
	}

	li:first-child {
		margin-right: auto;
	}

	a {
		height: 100%;
		padding: 0 30px;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: white;
	}

	a:hover {
		color: #f0f0f0;
	}
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

	a, li {
		width: 100%;
	}
}

.menubutton {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-tab {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

	a {
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
}

.dropdown:hover .dropdown-tab {
  display: block;
}

header {
  background-color: #46589280;
}

.Derma {
	background-image: url(images/iseb1.jpg);
	background-color: #5d5f61;
	background-blend-mode: multiply;
	height: 100vh;
  padding: 2rem 0;

  .DermaSpect {
    margin: 0 10%;
    width: 80%;
    height: 80%;
    background: #546DA6;
    border-radius: 15px;
    position: relative;

    .DermaGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: absolute;
      bottom: -20px;
      text-align: center;
      padding: 0 30px;

      .DermaDesc1 {
        background: #E4EAF0;
        border-radius: 10px 0 0 10px;
        font-size: 1.5rem;
        padding: 20px;
      }

      .DermaDesc2 {
        background: #BBC1C6;
        border-radius: 0 10px 10px 0;
        font-size: 0.75rem;
        padding: 20px;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 2rem;
  gap: 2rem;

  .box1 {
    width: 375px;
    height: 375px;
    background: #465892;
    border-radius: 15px;
  }
}

.change {
	display: flex;
	justify-content: center;
	align-items: center;
  height: fit-content;
  margin: 2rem;

  .container {
    height: 400px;
    width: 1000px;
    background-image: url("images/DV/dv_stock.png");
    background-color: #968eafbf;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    position: relative;

    h1 {
      text-align: left;
      font-size: 40px;
      color: white;
      padding-bottom: 20px;
    }

    p {
      text-align: left;
      font-size: 20px;
      color: white;
      padding-bottom: 20%;
    }

    a {
      background-color: #6d5593;
      color: white;
      text-decoration: none;
      padding: 15px;
      border: 2px solid white;
      border-radius: 10px;
    }

    img {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
    }
  }
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #546da6;

	.footer-left {
		text-align: left;
		padding: 0 20px;
	}

	.footer-right {
		text-align: right;
		padding: 0 20px;

		a {
			color: white;
			border: none;
			background-color: inherit;
			text-decoration: none;
			padding: 5px 5px;
			font-size: 10px;
			cursor: pointer;
			display: inline-block;
		}
	}
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menubutton {
    display: block;
  }

  .change {
    .container {
      p {
        padding-bottom: 30%;
      }
    }
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25%;
  }

  .Derma {
    .DermaSpect {
      .DermaGrid {
        .DermaDesc1 {
          font-size: 1rem;
        }

        .DermaDesc2 {
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }

  .change {
    .container {
      h1 {
        font-size: 30px;
      }

      p {
        padding-bottom: 50%;
      }
    }
  }

  .grid {
    margin: 4rem;

    .box1 {
      width: 275px;
      height: 275px;
    }
  }

  .Derma {
    .DermaSpect {
      .DermaGrid {
        padding: 0 15px;
        
        .DermaDesc1 {
          font-size: 0.75rem;
        }

        .DermaDesc2 {
          font-size: 0.25rem;
        }
      }
    }
  }
}
